* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
table {
  border: 2px solid;
  margin: 50px;
}
th,
td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}
form{
    margin: 50px;
    display: flex;
    gap: 5px;
}
#check{
    width: 19px;
    height: 19px;
}